@font-face {
    font-family: 'HANAMDAUM';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HANAMDAUM/HANAMDAUM-Body.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HANAMDAUM/HANAMDAUM-Body.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HANAMDAUM/HANAMDAUM-Body.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HANAMDAUM/HANAMDAUM-Body.ttf') format('truetype');
}
@font-face {
    font-family: 'HANAMDAUM';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HANAMDAUM/HANAMDAUM-Title.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HANAMDAUM/HANAMDAUM-Title.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HANAMDAUM/HANAMDAUM-Title.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HANAMDAUM/HANAMDAUM-Title.ttf') format('truetype');
}
